body {
  background: #191919;
}

h1 {
  background-color: #31a9ff;
  margin: 0 0 10px 0;
  padding: 10px;
}

input {
  display: block;
  width: 480px;
  line-height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: #e9e9e9;
  margin-bottom: 10px;
}

textarea {
  background: #e9e9e9;
  width: 500px;
  height: 500px;
  color: #000;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 15px;
}

button {
  display: block;
  all: unset;
  text-align: center;
}

.section-writeMemo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.btn-createMemo {
  width: 100px;
  line-height: 32px;
  background: #31a9ff;
  border-radius: 15px;
  border: 2px solid #007bff;
}

.btn-createMemo:hover {
  cursor: pointer;
}

.btn-createMemo:active {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}

.section-displayMemo {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 10px;
}

.memo {
  background: #31a9ff;
  color: #fff;
  padding: 10px;
  width: 500px;
  height: 200px;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.memo > p:first-child {
  text-decoration: underline;
  color: black;
}

.memo p,
h2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin: 12px 0 16px;
  word-break: break-all;
}

.memo button {
  margin-top: 30px;
  border-radius: 15px;
  background-color: #191919;
  width: 60px;
  line-height: 32px;
  text-align: center;
  margin-right: 10px;
}
